<div class="like position-relative d-flex align-items-center">
    {{> _images/like}}
    <div class="like-count color-white text-small d-flex align-items-center justify-content-center text-center flex-shrink ">1</div>
</div>
