<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
123
</body>
</html>
<!--{{> _structure/head-->
<!--    title="Телевизор Sony KD-50X81J, 50"-->
<!--    keywords="Телевизор Sony KD-50X81J, 50"-->
<!--    description="Телевизор Sony KD-50X81J, 50"-->
<!--}}-->

<!--{{> _header/header}}-->

<!--<main>-->
<!--    {{> app-breadcrumbs/breadcrumbs-->
<!--        title= 'Электроника'-->
<!--    }}-->
<!--    <div class="container">-->
<!--        <h1>Каталог интернет-магазинов</h1>-->
<!--        <div class="d-flex mt-4">-->
<!--            <div class="btn btn-grey d-flex align-items-center me-3">-->
<!--                {{> app-stars/stars }}-->
<!--                <a href="" class="color-grey-dark ms-1">22 отзыва</a>-->
<!--            </div>-->
<!--            <a href="" class="btn btn-grey color-grey-dark ms-1">Характеристики</a>-->
<!--        </div>-->

<!--        <div class="d-flex flex-column flex-md-row justify-content-between mt-3 mt-sm-5 pt-sm-4 app-preview">-->
<!--            {{> app-sliders/slider-preview }}-->
<!--            <div class="d-flex flex-column flex-mb-row justify-content-between">-->
<!--                <div class="d-flex flex-column flex-shrink list-preview">-->
<!--                    {{> app-list/list-preview }}-->
<!--                    <a href="" class="btn btn-grey color-grey-dark mt-4 d-block">Все характеристики</a>-->
<!--                </div>-->
<!--                <div class="ms-lg-6 ps-mb-4 mt-5 mt-mb-0">-->
<!--                    {{> app-card/card-preview }}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <h2 class="mt-5 mt-sm-6 pt-sm-2 mb-5">Все предложения</h2>-->
<!--        {{> app-table/table-offers }}-->
<!--        <h2 class="mt-5 mt-sm-6 pt-sm-2 mb-5">О товаре</h2>-->
<!--        <p class="text-primary">Sony KD50X81J — телевизор с экраном, созданным на основе матрицы Triluminos Pro. Его-->
<!--                диагональ — 50 дюймов, разрешение — 3840 х 2160 пикселей. Фирменный процессор X1-->
<!--                обеспечивает масштабирование изображения до 4K Ultra HD.</p>-->
<!--        <p class="text-primary mt-3">В модели реализованы технологии HDR10, HLG и Motionflow XR 240. Мощность фронтальных-->
<!--                динамиков — 20 Вт. Операционная система — Android. Для дистанционного управления-->
<!--                используется Bluetooth-пульт.</p>-->
<!--        <a class="btn btn-transparent btn-text-primary" href="">Читать полностью22-->
<!--&lt;!&ndash;            <span class="ms-2">&ndash;&gt;-->
<!--&lt;!&ndash;                {{> _images/arr-button }}&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--    </a>-->
<!--    </div>-->
<!--</main>-->


<!--{{> _footer/footer}}-->

<!--{{> _structure/script }}-->