@import "search";
.header-logo {
  //width: 123px;
  @include media-breakpoint-up(md) {
    width: 172px;
  }
}

.header-top,
.header-bottom{
  @include media-breakpoint-down(sm) {
    width: 100%;
    justify-content: space-between;
  }
}

.header-location {
  svg {
    @include media-breakpoint-down(sm) {
      path {
        fill: var(--color-primary-text);
      }
    }
  }
}