<header class="pt-3 w-100">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center h-100">
            <div class="header-top d-flex flex-sm-row-reverse align-items-center">
                <div class="ms-lg-4 ms-md-6 ms-sm-4">
                    {{> app-catalog/catalog}}
                </div>
                <a href="/" class="header-logo d-block me-lg-6">
                    <img src="./assets/img/logo.png" alt="logo" class="image-contain d-block">
                </a>
                <div class="d-sm-none">
                    {{> app-like/like}}
                </div>
            </div>
            <div class="header-bottom d-flex js--search mt-5 mt-sm-0">
                {{> _header/header-search}}
                <button class="btn btn-green ms-2 h-100 font-bold">Хочу!</button>
            </div>
            <div class="d-none d-sm-flex">
                {{> app-like/like}}
            </div>
        </div>

    </div>
</header>