.input-search {
  background: var(--color-light);
  border-radius: 100px;
  width: 100%;

  &__svg {
    position: absolute;
    left: 13px;
    width: 16px;
    z-index: 3;
    cursor: pointer;
  }

  input {
    height: 38px;
    padding: 15px 15px 15px 45px;
    width: 100%;
    background: var(--color-light);
  }

  .btn {
    margin-left: -40px;
    z-index: 2;
    height: 46px;
  }
}

.header-input {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: 260px;
  }

  @include media-breakpoint-up(md) {
    width: 400px;
  }

  @include media-breakpoint-up(lg) {
    width: 528px;
  }
}

