<div class="footer-note d-flex">
    {{> _images/note}}
    <p class="ms-sm-3 text-small color-grey-secondary">Обратите внимание! Boxberry является информационным посредником (ст. 1253.1 ГК РФ). Если на нашем сайте были нарушены ваши интеллектуальные права, заполните
        <span class="d-md-block"></span>
      <a href="https://boxberry.ru/kontakty" class="color-grey-dark text-small"> форму обратной связи</a>  с прикреплением ссылок на страницы.</p>
</div>