<div class="footer-menu mt-5 pt-sm-3 pb-5 pb-sm-6">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row align-items-center align-items-sm-start w-100">
            <a href="/" class="footer-menu__logo d-flex flex-shrink">
                <img src="./assets/img/logo.png" alt="logo" class="image-contain">
            </a>
            <div class="ms-sm-5 ms-md-6 ps-md-3 justify-content-center justify-content-sm-start w-100">
                <div class="d-flex justify-content-center justify-content-sm-start mt-5 mt-sm-0 w-100 flex-wrap">
                    <a href="" class="me-2 me-lg-3 mb-1 text-primary">О разделе</a>
                    <a href="" class="me-2 me-lg-3 mb-1 text-primary">Добавить магазин</a>
                    <a href="" class="me-2 me-lg-3 mb-1 text-primary">Доставка и возврат</a>
                    <a href="" class="me-2 me-lg-3 mb-1 text-primary">Как сделать заказ</a>
                    <a href="" class="me-2 me-lg-3 mb-1 text-primary">Оплата</a>
                    <a href="" class="text-primary mb-1">Каталог интернет-магазинов</a>
                </div>
                <p class="text color-grey-dark mt-5 mt-sm-3">Каталог товаров от Boxberry - это площадка, где собраны предложения из более чем 300+ магазинов. Мы не продаем,
                    <span class="d-lg-block"></span> а помогаем найти нужный вам товар - это бесплатно. Если вам необходима более подробная информация о каком-либо товаре,
                    <span class="d-lg-block"></span>пожалуйста, задайте ваш вопрос непосредственно продавцу, контакты которого вы сможете найти на его сайте.</p>
            </div>
        </div>
    </div>
</div>