<div class="footer-app mt-6">
    <div class="container pt-5 pb-5">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center">
            <div class="d-flex flex-column flex-sm-row-reserve justify-content-sm-between align-items-center">
                <p class="text-large footer-delivery ">Отслеживайте доставку
                    <span class="d-block d-sm-inline"></span>и оформляйте
                    <span class="d-sm-block"></span>посылки <span class="font-bold d-block d-sm-inline">в новом мобильном приложении <span class="d-block d-sm-inline d-md-block"></span> Boxberry</span> </p>
                <div class="footer-banner mt-5 mt-sm-0">
                    <img src="./assets/img/footer-baner.png" alt="banner" class="image-contain">
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row">
                <div class="footer-app__link d-flex flex-sm-column justify-content-center  mt-5 mt-sm-0">
                    <a href=""><img src="./assets/img/play-market.png" alt="play-market" class="d-block image-contain"></a>
                    <a href="" class="d-block mt-sm-1 ms-2 ms-sm-0"><img src="./assets/img/app-store.png" alt="app-store" class="image-contain"></a>
                    <a href="" class="d-block mt-sm-1 ms-2 ms-sm-0"><img src="./assets/img/play-market.png" alt="play-market" class="image-contain"></a>
                </div>
                <a href="" class="footer-app__qr ms-sm-4 d-flex align-items-center justify-content-between mt-5 mt-sm-0">
                    <p class="text">Кликните на QR-код <span class="d-block"></span>
                        для скачивания</p>
                    <img src="./assets/img/qr.png" alt="qr" class="ms-1">
                </a>
            </div>
        </div>
    </div>
</div>