<div class="overlay-input input-search input-datalist d-flex align-items-center position-relative w-100">
    <div class="input-search__svg svg-block">
        {{> _images/search}}
    </div>
    <div class="position-relative js--input-datalist w-100">
        <input type="text" placeholder="Ваш город" id="custom-select-input2" class="select-css w-100">
        {{> _header/search-list}}
    </div>
</div>