<div class="overlay overlay-qr d-flex align-items-center justify-content-center overflow-hidden w-100 h-100">
    <div class="overlay-wrap position-relative">
        <div class="overlay-close overlay-close--absolute cursor-pointer js--overlay-close">
            {{> _images/close}}
        </div>
        <div class="overlay-wrap__content d-flex flex-column align-items-center">
            <p class="text-large text-center">Отсканируйте QR-код
                <span class="d-block"></span> для скачивания приложения</p>
            <img src="./assets/img/qr-large.png" alt="qr">
        </div>
    </div>
</div>
