<div class="card-popular w-100 pb-5">
    <a href class="card-popular__images w-100 flex-center">
        <div class="card-popular__image flex-center">
            <img src="./assets/img/product-1.png" alt="product" class="image-contain" />
        </div>
        <span class="flex-center flex-shrink color-pink font-bold">VS</span>
        <div class="card-popular__image flex-center">
            <img src="./assets/img/product-1.png" alt="product" class="image-contain" />
        </div>

    </a>
    <a href="" class="d-block text-primary mt-3">Двухкамерный холодильник Бирюса 6033 <span class="color-pink text-large font-bold">vs</span> Холодильник DON R-297 BE</a>
</div>