<div class="card-preview">
    <p class="color-grey-secondary text-center text-line-through text"> 76 990 <span>₽</span></p>
    <p class="text-center font-h2 font-bold"> 66 990 <span class="color-grey-dark font-weight text-primary">₽</span></p>
    <a href="" class="btn btn-gradient mt-4 btn-auto d-flex align-items-center svg-block">
        <span class="d-block me-3">{{> _images/buy }}</span>
        Все предложения
    </a>
    <div class="d-flex justify-content-between mt-5 pt-4">
        <div class="d-flex align-items-center svg-block me-4">
            {{> _images/compare }}
            <a href="" class="d-block ms-2 link-underline link-underline__hover-pink position-relative">Сравнить <span></span></a>
        </div>
        <div class="d-flex align-items-center svg-block">
            {{> _images/like-pink }}
            <a href="" class="d-block ms-2 link-underline link-underline__hover-pink position-relative">В избранное <span></span></a>
        </div>
    </div>
</div>
