<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center favorite-card w-100 ps-3 pe-3 pt-3 pb-3">
    <div class="d-flex align-items-center">
        <div class="favorite-card__image d-flex align-items-center">
            <img src="./assets/img/product-1.png" alt="product" class="image-contain">
        </div>
        <p class="text-large ms-3 cursor-pointer text-underline--hover">Телевизор Sony KD-50X81J</p>
    </div>
    <div class="d-flex align-items-center w-md-100 justify-content-between mt-2 mt-md-0">
        <p class="text-primary font-bold">65 690 <span class="font-weight">₽</span> </p>
        <div class="d-flex align-items-center">
            <bitton class="btn btn-gradient ms-3 d-flex align-items-center">Купить</bitton>
            <button class="btn btn-circle flex-center flex-shrink ms-3">
                {{> _images/del}}
            </button>
        </div>
    </div>
</div>