<div class="card-popular w-100 pb-5">
    <a href class="card-popular__image w-100 flex-center">
        <img src="./assets/img/product-1.png" alt="product" class="image-contain" />
    </a>
    <a href="" class="d-block text-primary mt-3">Дифференциальный датчик-реле давления DUNGS LGW 10 A2P арт.120212</a>
</div>