<div class="card-product w-100 pb-5">
    <div class="card-product__image w-100 flex-center">
        <img src="./assets/img/product-1.png" alt="product" class="image-contain" />
    </div>
    <p class="text-primary mt-3">Телевизор Haier 43 Smart MX</p>
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <div class="card-product--rating">
            {{> app-stars/stars }}
            <p class="color-grey-dark text-small mt-1 text-underline">3 отзыва</p>
        </div>
        <div class="card-product--price text-large font-bold">82 690<span class="text color-grey-dark ms-1">₽</span></div>
    </div>
    <div class="card-product__actions d-flex justify-content-between align-items-center mt-4">
        <button class="btn btn-gradient btn-pink-green">Купить</button>
        <div class="d-flex align-items-center">
            <button class="btn btn-circle flex-center me-1">
                {{> _images/compare }}
            </button>
            <button class="btn btn-circle flex-center">
                {{> _images/like }}
            </button>
        </div>
    </div>
</div>