<div class="card-compare w-100 pb-5">
    <a href class="card-compare__images w-100 flex-center">
        <div class="card-compare__image flex-center">
            <img src="{{card_image1}}" alt="product" class="image-contain" />
        </div>
        <span class="card-compare__vs text-small flex-center">Vs</span>
        <div class="card-compare__image flex-center">
            <img src="{{card_image2}}" alt="product" class="image-contain" />
        </div>

    </a>
    <a href="" class="d-block text-primary mt-3 text-center">{{card_title1}} <span class="ms-1 me-1">/</span>{{card_title2}}</a>
</div>