<div class="catalog-menu js--catalog-menu">
    <div class="catalog-menu--wrap">
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/men}}
            <p class="ms-3">Для мужчин</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/women}}
            <p class="ms-3">Для женщин</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/children}}
            <p class="ms-3">Одежда для детей</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3 active">
            {{> _images/appliances}}
            <p class="ms-3">Бытовая техника</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/computer}}
            <p class="ms-3">Компьютерная техника</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/electronics}}
            <p class="ms-3">Электроника</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/home}}
            <p class="ms-3">Товары для дома</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/kid}}
            <p class="ms-3">Детские товары</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/auto}}
            <p class="ms-3">Автотовары</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/pet}}
            <p class="ms-3">Зоотовары</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/repair}}
            <p class="ms-3">Строительство и ремонт</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/beauty}}
            <p class="ms-3">Красота и здоровье</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/sports}}
            <p class="ms-3">Спорт и отдых</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/books}}
            <p class="ms-3">Книги</p>
        </a>
        <a href="" class="catalog-menu__item d-flex align-items-center pt-2 pb-2 ps-3 pe-3">
            {{> _images/products}}
            <p class="ms-3">Продукты</p>
        </a>
    </div>
</div>