<div class="catalog-menu js--catalog-menu d-flex">
    <div class="catalog-menu--wrap w-md-100">
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                    title="Для мужчин"
                    image="./assets/img/menu/man.svg"
                    active=true
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Для женщин"
                        image="./assets/img/menu/women.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Одежда для детей"
                        image="./assets/img/menu/children.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Бытовая техника"
                        image="./assets/img/menu/appliances.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Компьютерная техника"
                        image="./assets/img/menu/computer.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Электроника"
                        image="./assets/img/menu/electronics.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Товары для дома"
                        image="./assets/img/menu/home.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Детские товары"
                        image="./assets/img/menu/kid.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Автотовары"
                        image="./assets/img/menu/auto.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Зоотовары"
                        image="./assets/img/menu/pet.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Строительство и ремонт"
                        image="./assets/img/menu/repair.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Красота и здоровье"
                        image="./assets/img/menu/beauty.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Спорт и отдых"
                        image="./assets/img/menu/sports.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Книги"
                        image="./assets/img/menu/books.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> app-catalog/catalog-item
                        title="Продукты"
                        image="./assets/img/menu/products.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-md-none">
                {{> app-catalog/catalog-modile}}
            </div>
        </div>

    </div>
    <div class="d-none d-md-flex">
        <div class="d-flex js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail2}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail2}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail2}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail2}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail2}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail2}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail}}
        </div>
        <div class="d-none js--catalog-menu-detail">
            {{> app-catalog/catalog-menu-detail2}}
        </div>
    </div>
</div>