<button class="btn btn-primary h-100 font-bold d-flex align-items-center justify-content-center js--catalog-btn flex-shrink">
    <div class="me-sm-1">{{> burger/menu}}</div>
    <span class="ms-sm-1 d-none d-sm-flex">Каталог</span>           
</button>