<div class="js--openSubMenu catalog-menu__modile-item">
    <div class="w-100 d-block pt-3 pb-3 ps-3 pe-3 js--openSubMenu-btn">
        <div class="d-flex align-items-center">
            <img src="./assets/img/menu/plus.svg" alt="plus" class="me-1 js--openSubMenu-plus">
            <img src="./assets/img/menu/minus.svg" alt="plus" class="me-1 d-none js--openSubMenu-minus">
            <p>{{title}}</p>
        </div>
    </div>
    <div class="catalog-menu__modile-sub js--openSubMenu-content">
        {{> app-catalog/catalog-modile-sub}}
    </div>
</div>