<div class="catalog-menu__item d-flex justify-content-between justify-content-md-start align-items-md-center pt-1 pb-1 ps-4 ps-md-3 pe-md-3 {{#if active}}active{{/if}}">
    <div class="d-flex align-items-center">
        <img src={{image}} class="me-3" alt="catalog-image">
        <p>{{title}}</p>
    </div>
    <div class="d-flex align-items-center d-md-none me-3 me-md-0">
        {{> _images/arrow}}
    </div>
</div>