<div class="catalog-menu-detail ps-4 pt-2 pe-4 pb-2 d-flex flex-column flex-wrap">
    <a href="" class="catalog-menu-detail--title text-primary d-block color-pink-dark mb-1">Женская одежда</a>
    <a href="" class="d-block">Джинсы</a>
    <a href="" class="d-block">Футболки и поло</a>
    <a href="" class="d-block">Брюки</a>
    <a href="" class="d-block">Джемперы и кардиганы</a>
    <a href="" class="d-block">Пиджаки и костюмы</a>
    <a href="" class="d-block">Толстовки и свитшоты</a>
    <a href="" class="d-block">Олимпийки</a>
    <a href="" class="d-block">Рубашки</a>
    <a href="" class="d-block">Шорты</a>
    <a href="" class="d-block">Пляжная одежда</a>
    <a href="" class="d-block">Белье</a>
    <a href="" class="d-block">Жилеты</a>
    <a href="" class="d-block">Домашняя одежда</a>
    <a href="" class="d-block">Бриджи</a>
    <a href="" class="d-block">Жакеты</a>
    <a href="" class="d-block">Смокинги</a>
    <a href="" class="d-block">Капри</a>
    <a href="" class="d-block">Комплекты одежды</a>
    <a href="" class="d-block">Мужская одежда из кашемира</a>
    <a href="" class="d-block">Трикотаж</a>
    <a href="" class="catalog-menu-detail--title text-primary d-block color-pink-dark mt-1 mt-lg-3 mb-1">
        Женская верхняя одежда
    </a>
    <a href="" class="d-block">Джинсы</a>
    <a href="" class="d-block">Футболки и поло</a>
    <a href="" class="d-block">Брюки</a>
    <a href="" class="d-block">Джемперы и кардиганы</a>
    <a href="" class="d-block">Пиджаки и костюмы</a>
    <a href="" class="d-block">Толстовки и свитшоты</a>
    <a href="" class="d-block">Олимпийки</a>
    <a href="" class="d-block">Рубашки</a>
    <a href="" class="d-block">Шорты</a>
    <a href="" class="catalog-menu-detail--title text-primary d-block color-pink-dark mt-1 mt-lg-3 mb-1">
        Женская одежда больших размеров
    </a>
    <a href="" class="d-block">Джинсы</a>
    <a href="" class="d-block">Футболки и поло</a>
    <a href="" class="d-block">Брюки</a>
    <a href="" class="d-block">Джемперы и кардиганы</a>
    <a href="" class="d-block">Пиджаки и костюмы</a>
    <a href="" class="d-block">Толстовки и свитшоты</a>
    <a href="" class="d-block">Олимпийки</a>
    <a href="" class="d-block">Рубашки</a>
    <a href="" class="d-block">Шорты</a>
    <a href="" class="d-block">Мужская одежда из кашемира</a>
    <a href="" class="d-block">Трикотаж</a>
    <a href="" class="catalog-menu-detail--title text-primary d-block color-pink-dark mt-1 mt-lg-3 mb-1">
        Женские аксессуары
    </a>
    <a href="" class="d-block">Джинсы</a>
    <a href="" class="d-block">Футболки и поло</a>
    <a href="" class="d-block">Брюки</a>
    <a href="" class="d-block">Джемперы и кардиганы</a>
    <a href="" class="d-block">Пиджаки и костюмы</a>
    <a href="" class="d-block">Толстовки и свитшоты</a>
    <a href="" class="d-block">Олимпийки</a>
    <a href="" class="d-block">Рубашки</a>
    <a href="" class="d-block">Шорты</a>
    <a href="" class="d-block">Мужская одежда из кашемира</a>
    <a href="" class="d-block">Трикотаж</a>
    <a href="" class="d-block">Рубашки</a>
    <a href="" class="d-block">Шорты</a>
    <a href="" class="d-block">Мужская одежда из кашемира</a>
    <a href="" class="d-block">Трикотаж</a>
    <a href="" class="d-block">Шорты</a>
    <a href="" class="d-block">Мужская одежда из кашемира</a>
    <a href="" class="d-block">Трикотаж</a>
    <a href="" class="d-block">Шорты</a>
    <a href="" class="d-block">Мужская одежда из кашемира</a>
    <a href="" class="d-block">Трикотаж</a>
    <a href="" class="catalog-menu-detail--title text-primary d-block color-pink-dark mt-1 mt-lg-3 mb-1">
        Женская спортивная одежда
    </a>
    <a href="" class="d-block">Джинсы</a>
    <a href="" class="d-block">Футболки и поло</a>
    <a href="" class="d-block">Брюки</a>
    <a href="" class="d-block">Джемперы и кардиганы</a>
    <a href="" class="d-block">Пиджаки и костюмы</a>
    <a href="" class="d-block">Толстовки и свитшоты</a>
    <a href="" class="d-block">Олимпийки</a>
    <a href="" class="d-block">Рубашки</a>
    <a href="" class="d-block">Шорты</a>
    <a href="" class="d-block">Мужская одежда из кашемира</a>
    <a href="" class="d-block">Трикотаж</a>
    <a href="" class="catalog-menu-detail--title text-primary d-block color-pink-dark mt-1 mt-lg-3 mb-1">
        Женская обувь
    </a>
    <a href="" class="d-block">Джинсы</a>
    <a href="" class="d-block">Футболки и поло</a>
    <a href="" class="d-block">Брюки</a>
    <a href="" class="d-block">Джемперы и кардиганы</a>
    <a href="" class="d-block">Пиджаки и костюмы</a>
    <a href="" class="d-block">Толстовки и свитшоты</a>
    <a href="" class="d-block">Олимпийки</a>
    <a href="" class="d-block">Рубашки</a>
    <a href="" class="d-block">Шорты</a>
    <a href="" class="d-block">Мужская одежда из кашемира</a>
    <a href="" class="d-block">Трикотаж</a>
</div>