<div class="reviews-photo d-flex align-items-center flex-wrap">
    <div class="reviews-photo_add flex-center me-3 mb-2 cursor-pointer">
        {{> _images/photo }}
    </div>
    <div class="reviews-photo_item flex-center me-3 mb-2 cursor-pointer"><img src="./assets/img/product-1.png" alt="product" class="image-contain" /></div>
    <div class="reviews-photo_item flex-center me-3 mb-2 cursor-pointer"><img src="./assets/img/product-1.png" alt="product" /></div>
    <div class="reviews-photo_item flex-center me-3 mb-2 cursor-pointer"><img src="./assets/img/product-1.png" alt="product" /></div>
    <div class="reviews-photo_item flex-center me-3 mb-2 cursor-pointer"><img src="./assets/img/product-1.png" alt="product" /></div>
    <div class="reviews-photo_item flex-center mb-2 cursor-pointer"><img src="./assets/img/product-1.png" alt="product" /></div>
</div>