.input-datalist__list {
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.15);
  list-style-type: none;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  width: calc(100% - 1px);
  top: calc(100% + 27px);

  li {
    font-weight: $font-weight;
    border-bottom: 1px solid var(--color-light-secondary);
    border-radius: 5px;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: var(--color-light);
    }
  }
}

.search-result {
  overflow: auto;

  @include media-breakpoint-up(md) {
    max-height: 500px;
  }
}

.search-result-item {
  &.active {
    color: var(--color-pink-dark);
    position: relative;

    &:before {
      position: absolute;
      left: -22px;
      top: 0;
      content: url(../img/okay.svg);
      width: 13px;
      height: 9px;
    }
  }
}
