<div class="assessment d-flex flex-column flex-mb-row align-items-start align-items-mb-center mt-2 mt-md-3" data-assssmnt="">
    <p class="text">Общая оценка</p>
    <input class="hidden" type="radio" name="assessment-reviews" />
    <div class="assessment-stars d-flex align-items-center justify-content--end mt-2 mt-mb-0">
        {{> app-stars/star-assessment }}
        {{> app-stars/star-assessment }}
        {{> app-stars/star-assessment }}
        {{> app-stars/star-assessment }}
        {{> app-stars/star-assessment }}
    </div>
</div>