<div class="stars d-flex align-items-center">
    {{> app-stars/star width="100%" }}
    {{> app-stars/star width="100%" }}
    {{> app-stars/star width="100%" }}
    {{> app-stars/star width="100%" }}
    {{> app-stars/star width="50%" }}
</div>

