.btn {
    @include font-basic();
    cursor: pointer;
    font-family: $font-primary;
	font-style: $font-style;
    color: var(--color-primary-text);
    text-align: center;
    text-decoration: none;
    user-select: none;
    border-radius: 100px;
    background: none;
    border: none;
    width: max-content;
    min-height: 38px;
    min-width: 90px;
}

.btn-primary {
    background-color: var(--color-pink);
    color: #fff;
    padding: 10px 20px;
}

.btn-green {
    background-color : var(--color-green);
    color: #fff;    
    border-radius: 50px;
    padding: 10px 16px;
    min-width: max-content;

    &:hover {
        background: linear-gradient(180deg, #B7E43A 0%, #A8D233 100%);
    }
}