<div class="slider-reviews mt-5 d-flex flex-column flex-mb-row align-items-center align-items-mb-start">
        <div class="slider-reviews_images overflow-hidden">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slider-reviews_image"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-reviews_image"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-reviews_image"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-reviews_image"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-reviews_image"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
                    </div>
                </div>
        </div>
        <div class="slider-reviews-preview d-flex flex-wrap ms-mb-6 ps-mb-4 mt-3 mt-mb-0">
            <div class="slider-reviews_image cursor-pointer flex-center mb-1 me-1 active"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
            <div class="slider-reviews_image cursor-pointer flex-center mb-1 me-1"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
            <div class="slider-reviews_image cursor-pointer flex-center mb-1 me-1"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
            <div class="slider-reviews_image cursor-pointer flex-center mb-1 me-1"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
            <div class="slider-reviews_image cursor-pointer flex-center mb-1"><img class="img-responsive" src="./assets/img/product-1.png" alt="reviews" /></div>
        </div>
</div>
