
    <div class="slider-preview d-flex position-relative pt-3 pt-sm-5 pb-3 pb-sm-5">
        <div class="preview-swiper-small overflow-hidden me-lg-4 d-none d-md-flex">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-preview__image d-flex align-items-center justify-content-center"><img class="img-responsive" src="./assets/img/product-1.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image d-flex align-items-center justify-content-center"><img class="img-responsive" src="./assets/img/qr.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image d-flex align-items-center justify-content-center"><img class="img-responsive" src="./assets/img/product-1.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image d-flex align-items-center justify-content-center"><img class="img-responsive" src="./assets/img/qr.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image d-flex align-items-center justify-content-center"><img class="img-responsive" src="./assets/img/product-1.png" alt="product" /></div>
                </div>
            </div>
        </div>
        <div class="slider-preview__navigation">
            <div class="swiper-button-prev">
                {{> _images/arr_slider}}
            </div>
            <div class="swiper-button-next">
                {{> _images/arr_slider}}
            </div>
        </div>
        <div class="preview-swiper ms-5 overflow-hidden">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="./assets/img/product-1.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="./assets/img/qr.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="./assets/img/product-1.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="./assets/img/qr.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="./assets/img/product-1.png" alt="product" /></div>
                </div>
            </div>
        </div>
    </div>
