<div class="app-sliders__compare w-100 js--swiper-compare" id="{{swiper_id}}">
    <h3 class="d-flex flex-shrink text-center justify-content-center mb-5 pb-2">{{slider_title}}</h3>
    <div class="position-relative w-100">
        <div class="swiper-button-prev flex-center position-relative cursor-pointer">{{> _images/arr_slider }}</div>
        <div class="swiper-button-next flex-center position-relative cursor-pointer">{{> _images/arr_slider }}</div>

        <div class="swiper compare-slider overflow-hidden d-flex">
            <div class="swiper-wrapper">
                <div class="swiper-slide pt-1 pb-1">
                    {{> app-card/card-compare
                            card_image1="./assets/img/cards/5.png"
                            card_image2="./assets/img/cards/7.png"
                            card_title1="Фен Philips C3-260"
                            card_title2="Фен Samsung NX125 "
                    }}
                </div>
                <div class="swiper-slide pt-1 pb-1">
                    {{> app-card/card-compare
                            card_image1="./assets/img/cards/2.png"
                            card_image2="./assets/img/cards/2.png"
                            card_title1="Триммер Philips C3-260 "
                            card_title2="Триммер Philips NX125 "
                    }}
                </div>
                <div class="swiper-slide pt-1 pb-1">
                    {{> app-card/card-compare
                            card_image1="./assets/img/cards/5.png"
                            card_image2="./assets/img/cards/7.png"
                            card_title1="Фен Philips C3-260"
                            card_title2="Фен Samsung NX125 "
                    }}
                </div>
                <div class="swiper-slide pt-1 pb-1">
                    {{> app-card/card-compare
                            card_image1="./assets/img/cards/2.png"
                            card_image2="./assets/img/cards/2.png"
                            card_title1="Триммер Philips C3-260 "
                            card_title2="Триммер Philips NX125 "
                    }}
                </div>
                <div class="swiper-slide pt-1 pb-1">
                    {{> app-card/card-compare
                            card_image1="./assets/img/cards/5.png"
                            card_image2="./assets/img/cards/7.png"
                            card_title1="Фен Philips C3-260"
                            card_title2="Фен Samsung NX125 "
                    }}
                </div>
            </div>
        </div>
    </div>
</div>
