<div class="table-offers">
    <div class="table-offers__row d-flex flex-column flex-mb-row justify-content-mb-between align-items-mb-center">
        <div class="table-offers__title d-flex align-items-center">
            <a href="" class="table-offers__image"><img src="./assets/img/product-1.png" alt="product" class="image-contain" /></a>
            <a href="" class="text-big ms-4">Технопарк</a>
        </div>
        <div class="product-list__price d-flex align-items-center justify-content-between mt-4 mt-mb-0 w-mb-100">
            <a href="" class="text-big font-bold">65 690<span class="ms-1">₽</span></a>
            <a href="" class="btn btn-gradient-green btn-text-large ms-3 ms-md-6">Купить</a>
        </div>
    </div>
    <div class="table-offers__row d-flex flex-column flex-mb-row justify-content-mb-between align-items-mb-center">
        <div class="table-offers__title d-flex align-items-center">
            <a href="" class="table-offers__image"><img src="./assets/img/product-1.png" alt="product" class="image-contain" /></a>
            <a href="" class="text-big ms-4">Технопарк</a>
        </div>
        <div class="product-list__price d-flex align-items-center justify-content-between mt-4 mt-mb-0 w-mb-100">
            <a href="" class="text-big font-bold">65 690<span class="ms-1">₽</span></a>
            <a href="" class="btn btn-gradient-green btn-text-large ms-3 ms-md-6">Купить</a>
        </div>
    </div>
    <div class="table-offers__row d-flex flex-column flex-mb-row justify-content-mb-between align-items-mb-center">
        <div class="table-offers__title d-flex align-items-center">
            <a href="" class="table-offers__image"><img src="./assets/img/product-1.png" alt="product" class="image-contain" /></a>
            <a href="" class="text-big ms-4">Технопарк</a>
        </div>
        <div class="product-list__price d-flex align-items-center justify-content-between mt-4 mt-mb-0 w-mb-100">
            <a href="" class="text-big font-bold">65 690<span class="ms-1">₽</span></a>
            <a href="" class="btn btn-gradient-green btn-text-large ms-3 ms-md-6">Купить</a>
        </div>
    </div>
</div>