<div class="app-brands">
    <div class="app-brands-row d-flex flex-wrap">
        {{> app-brand/brand brand_url="./assets/img/brands/1.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/2.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/3.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/4.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/5.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/6.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/4.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/5.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/6.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/1.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/2.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/1.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/2.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/3.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/4.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/5.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/6.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/4.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/5.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/6.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/1.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/2.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/1.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/2.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/3.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/4.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/5.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/6.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/4.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/5.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/6.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/1.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/2.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/1.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/2.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/3.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/4.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/5.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/6.png"}}
        {{> app-brand/brand brand_url="./assets/img/brands/4.png"}}
    </div>
</div>