.brand-table {
  margin-top: 44px;
  &__row {
    border: 1px solid #DADADA;
    overflow: hidden;
    border-radius: 10px;
  }

  &__row + &__row {
    margin-top: 15px;
  }

  &__title {
    padding: 16px;
    cursor: pointer;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
      padding: 20px 27px;
    }
  }

    &__content {
    padding: 0 11px 30px 16px;
    @include media-breakpoint-up(md) {
      padding: 0 20px 37px 27px;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #7C808E;
      padding-bottom: 9px;
      margin-right: 8px;
      @include media-breakpoint-up(mb) {
        font-size: 15px;
      }

      &:after {
        content: '';
        width: 4px;
        height: 4px;
        background: #C5C9D4;
        border-radius: 50%;
        display: block;
        margin-left: 8px;
      }
    }
  }

  .brand-table-more {
    margin-left: auto;
    margin-right: 24px;
    width: max-content;
  }
}