<div class="brand-table w-100">
    {{> app-brand/brand-table-item title="a" id="_letter_a" }}
    {{> app-brand/brand-table-item title="b" id="_letter_b" small=true }}
    {{> app-brand/brand-table-item title="c" id="_letter_c" }}
    {{> app-brand/brand-table-item title="d" id="_letter_d" }}
    {{> app-brand/brand-table-item title="e" id="_letter_e" }}
    {{> app-brand/brand-table-item title="f" id="_letter_f" }}
    {{> app-brand/brand-table-item title="g" id="_letter_g" }}
    {{> app-brand/brand-table-item title="h" id="_letter_h" }}
    {{> app-brand/brand-table-item title="i" id="_letter_i" }}
    {{> app-brand/brand-table-item title="j" id="_letter_j" }}
    {{> app-brand/brand-table-item title="k" id="_letter_k" }}
    {{> app-brand/brand-table-item title="l" id="_letter_l" }}
    {{> app-brand/brand-table-item title="m" id="_letter_m" }}
    {{> app-brand/brand-table-item title="n" id="_letter_n" }}
    {{> app-brand/brand-table-item title="o" id="_letter_o" }}
    {{> app-brand/brand-table-item title="p" id="_letter_p" }}
    {{> app-brand/brand-table-item title="q" id="_letter_q" }}
    {{> app-brand/brand-table-item title="r" id="_letter_r" }}
    {{> app-brand/brand-table-item title="s" id="_letter_s" }}
    {{> app-brand/brand-table-item title="t" id="_letter_t" }}
    {{> app-brand/brand-table-item title="u" id="_letter_u" }}
    {{> app-brand/brand-table-item title="v" id="_letter_v" }}
    {{> app-brand/brand-table-item title="w" id="_letter_w" }}
    {{> app-brand/brand-table-item title="x" id="_letter_x" }}
    {{> app-brand/brand-table-item title="y" id="_letter_y" }}
    {{> app-brand/brand-table-item title="z" id="_letter_z" }}
    {{> app-brand/brand-table-item title="a-Ğ¯" id="_letter_rus" }}
    {{> app-brand/brand-table-item title="0-9" id="_letter_num" }}
</div>