.app-brand {
  height: 80px;
}

.app-brands-row {
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}

.app-brand {
  width: calc(100% / 6);
  @include media-breakpoint-down(md) {
    width: calc(100% / 3);
    justify-content: center;
  }

  img {
    max-width: calc(100% - 12px);
    @include media-breakpoint-down(mb) {
      max-width: calc(100% - 40px);
    }
  }
}

.app-brands__link {
  color: #7C808E;
  text-decoration: underline;
}

.page-brand {
  h2 {
    margin-top: 46px;
    margin-bottom: 20px;
    font-size: 20px;
    @include media-breakpoint-down(md) {
      font-size: 16px;
      text-align: center;
    }
  }

  .app-brand {
    width: calc(100% / 10);
    padding: 0 15px;
    @include media-breakpoint-down(md) {
      width: calc(100% / 7);
    }
    @include media-breakpoint-down(sm) {
      width: calc(100% / 4);
      padding: 0 10px;
    }
    img {
      max-width: 100%;
    }
  }
}

@import "./brand-accordion.scss";
@import "./brand-slider.scss";