<div class="app-accordion__content-wrap d-flex flex-wrap align-items-center">
    <a href="">Мужская одежда</a>
    <a href="">Джинсы</a>
    <a href="">Футболки и поло</a>
    <a href="">Поло</a>
    <a href="">Футболки</a>
    <a href="">Джинсы</a>
    <a href="">Футболки и поло</a>
    <a href="">Поло</a>
    <a href="">Футболки</a>
    <a href="">Джинсы</a>
    <a href="">Футболки и поло</a>
    <a href="">Поло</a>
    <a href="">Футболки</a>
    <a href="">Джинсы</a>
    <a href="">Футболки и поло</a>
    <a href="">Поло</a>
    <a href="">Футболки</a>
    <a href="">Джинсы</a>
    <a href="" class="link-grey">Показать все</a>
</div>