:root {
    --color-primary-text: #363845;
    --color-secondary: #B3B5BF;
    --color-pink: #ED1651;
    --color-pink-dark: #DD154C;
    --color-green: #A6CE39;
    --color-light: #EFEFF0;
    --color-light-secondary: #DFE2EA;
    --color-grey: #C6C9D5;
    --color-grey-light: #CED1DB;
    --color-grey-secondary: #B2B5BF;
    --color-grey-dark: #7C808E;
    --color-grizzly: #D6D9E0;
    --color-grey-bg: #F2F1EF;
    --color-grey-elem: #b4b6bf;

}






