<div class="breadcrumbs mt-5 mt-sm-6 pt-1 pt-sm-0 mb-1 mb-sm-2">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap">
            <a href="/">Главная</a>
            <div class="breadcrumbs-separator ms-1 me-1 ms-sm-3 me-sm-3"></div>
            <a href="/">{{title}}</a>
        </div>
    </div>
</div>