<div class="app-trends app-trends-sg d-flex flex-wrap  align-items-start">
    {{> app-trends/trend trend_title="Женская верхняя одежда" }}
    {{> app-trends/trend trend_title="Мужские джинсы Levis" }}
    {{> app-trends/trend trend_title="Женская одежда Zara" }}
    {{> app-trends/trend trend_title="Мужские футболки" }}
    {{> app-trends/trend trend_title="Верхняя одежда" }}
    {{> app-trends/trend trend_title="Женская одежда Zara" }}
    {{> app-trends/trend trend_title="Мужские футболки" }}
    {{> app-trends/trend trend_title="Женская верхняя одежда" }}
    {{> app-trends/trend trend_title="Мужские джинсы Levis" }}
    <a href="" class="app-trends__link text flex-center">Показать все</a>
</div>