<div class="app-trends d-flex flex-wrap  align-items-start">
    {{> app-trends/trend trend_title="Футболки Vans" }}
    {{> app-trends/trend trend_title="Кроссовки Vans" }}
    {{> app-trends/trend trend_title="Кроссовки Nike" }}
    {{> app-trends/trend trend_title="Спортивная одежда" }}
    {{> app-trends/trend trend_title="Футболки Vans" }}
    {{> app-trends/trend trend_title="Кроссовки Vans" }}
    {{> app-trends/trend trend_title="Кроссовки Nike" }}
    {{> app-trends/trend trend_title="Спортивная одежда" }}
    {{> app-trends/trend trend_title="Футболки Vans" }}
    {{> app-trends/trend trend_title="Кроссовки Nike" }}
    {{> app-trends/trend trend_title="Спортивная одежда" }}
    <a href="" class="app-trends__link text flex-center">Показать все</a>
</div>